{% load static from staticfiles %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="{% static 'css/leaflet.ie.css' %}" />
    <![endif]-->
    <script src="{% static 'js/leaflet.js' %}"></script>
{% load static from staticfiles %}
{% endblock %}
<div id="map" style="height:500px; width:100%"></div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static 'js/jquery.min.js' %}"><\/script>')</script>
<script type="text/javascript">
    $(document).ready(function(){
        var tiles = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
        var geojson = {{geojson|safe}}
        console.log(geojson);
        var map = L.map('map').fitBounds(geojson.properties.bbox);
        L.tileLayer(tiles).addTo(map);
        L.geoJson(geojson).addTo(map);
    })
</script>
